# dependencies
node_modules/
.pnpm-store/

# build
.next/
dist/
.turbo/

# env
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# debug
npm-debug.log*
pnpm-debug.log*

# testing
coverage/

# drizzle
drizzle/meta/
.vercel
